dataset/
models/
Enunciado_Projeto_IA.pdf
Project_Sheet_AI.pdf
test.ipynb
test.py
.vscode/settings.json
.local/
.keras/
.kaggle/
.jupyter/
.ipython/
.ipython_checkpoints/
.cache/
.config/
.nv/
*.keras